

.heading {
  max-width: 800px;
  display: flex;
  width: 100%;
}

.bioLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
}

.nameRes {
  display: flex;
  flex-direction: column;
}

.cover-heading {
  font-size: 2.5rem;
}

.pic {
  border: 1px solid black;
  border-radius: 50%;
}

.contacts {
  display: flex;
  justify-content: space-around;
  width: 100px;
}
.resume-btn {
  width: 275px;
}
.text {
  padding-top: 32px ;
  overflow-wrap: break-word;
  font-size: 1rem;
  max-width: 800px;
}

.paperBold {
  font-weight: 500;
  font-style: italic;
}

.cvText {
  font-size: 12px;
  position: absolute;
  top: 6px;
  left: 4px;
  font-weight: 600;
  z-index: 3;
}
.cvOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  color: white;
  position: relative;
  /* display:block;
  background-color: #ccc; */
}

  

.cvOverlay2 {
  display: flex;
  border: 2px solid black;
  border-radius: 8px;
  text-decoration: none !important;
  padding: 4px 12px 4px 12px;
}



.resume {
  display: flex;
  justify-content: center;
  height: 36px;
  /* border: 1px solid black;
  border-radius: 8px; */
}
.resumeText {
  line-height: 20px;
  color: black !important;
}
.cvOverlay2:hover .resumeText{
  /* font-size: 600; */
  font-weight: 700;
  color: #0275d8 !important;
}

.cvOverlay2:hover {
  border-color: #0275d8;
}


.homeColorBlack {
  color: black;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
